@import url(./index.css);

/* Global Styles */
.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--button-bg);
  border-radius: 2ch;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
}

button.long-button {
  width: 100%;
  padding: 8px;
}

button.small-button {
  width: 32px;
  height: 32px;
}

button.squared-button {
  width: 50px;
  height: 50px;
}

/* Title */

.title button {
  position: absolute;
  align-self: flex-end;
}

/* Contact */

.contact-edit {
  position: absolute;
  top: -13px;
  left: 95px;
}

/* Summary */

.summary-edit {
  align-self: flex-end;
}
