@import url(./index.css);

/* .contact {
  padding: 16px;
  border-bottom: 2px var(--border-color) solid;
  width: 100%;
  gap: 16px;
}

.contact > form {
  gap: 8px;
}

.contact > form > label {
  font-weight: 400;
}

.contact > form > input {
  border: none;
  border-bottom: 1px var(--border-color) inset;
  padding-left: 1rem;
}

.contact > form > input:focus {
  outline: none;
}

.contact > form > input::placeholder {
  font-size: 1rem;
  color: var(--placeholder-color);
}

.contact-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  border-radius: 2ch;
}

.contact-entry {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  max-width: 100%;
}

.contact-entry > p {
  word-wrap: break-word;
  max-width: 80%;
  font-weight: 500;
  font-size: 0.9rem;
} */
