@import url(./index.css);

.editor {
  background-color: var(--secondary-color);
  width: 1000px;
  padding: 16px;
  border-radius: 1ch;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 16px;
  gap: 16px;
}

.left {
  width: var(--left-width);
  border-right: 2px var(--border-color) solid;
}

.right {
  width: var(--right-width);
}

.yeartoyear > .years {
  display: flex;
  height: 100%;
  align-items: space-between;
}

/* Components */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Input */
input {
  border-radius: 1ch;
}

input::placeholder {
  color: var(--placeholder-color);
}

/* Text */

form {
  display: flex;
  flex-direction: column;
}

/* Text */

label {
}

h1 {
  color: var(--font-color);
}

h2 {
  color: var(--font-color);
  text-transform: uppercase;
}

h3 {
  color: var(--secondary-font-color);
  font-weight: 200px;
}

p {
  color: var(--secondary-font-color);
}

textarea {
  resize: none;
}
