@import url(./index.css);

.education {
  border-bottom: 2px var(--border-color) solid;
  width: 100%;
  height: 100%;
  gap: 8px;
  padding-bottom: 16px;
}

.edu-years > .years {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edu-years > label {
  font-weight: 500;
}

.edu-years > .years > select {
  border: 1px var(--border-color) solid;
  background-color: white;
  padding-left: 1rem;
  border-radius: 2ch;
  text-align: center;
}

.edit-education > form > label {
  font-weight: 500;
  padding: 4px 0;
}

.edit-education > form > input {
  border: 1px var(--border-color) dashed;
  padding-left: 1rem;
}

.edit-education > form > input:focus {
  border: none;
  outline: 1px solid;
}

.edit-education > form > input::placeholder {
  font-size: 1rem;
  color: var(--placeholder-color);
}

.education-entry {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.education-entry-years,
.education-entry-name {
  font-size: 18px;
  color: black;
  padding-bottom: 8px;
}

.education-entry-description {
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
}

/* Button customization */
.education-entry > .button-wrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 8px;
}
.edit-education button {
  background-color: var(--button-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 8px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2ch;
  margin-top: 16px;
}

.education-entry > .button-wrapper > button {
  background-color: var(--button-bg);
  border: none;
  border-radius: 5ch;
  width: 30px;
  height: 30px;
}

.education > button {
  background-color: var(--button-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 8px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2ch;
  margin-top: 16px;
}
