@import url(./index.css);

.experience-row {
  display: flex;
  justify-content: space-between;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.description-output {
  align-self: center;
}
