@import url(./index.css);

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.experience {
  width: 100%;
  height: 60%;
}
