:root {
  font-family: Roboto, "Times New Roman";
  --main-color: #00e1ff;
  --secondary-color: #ffffff;
  --background-color: #e8f0cc;
  --placeholder-color: #c0c0c0;
  --border-color: #525252;
  --font-color: #4e4e4e;
  --secondary-font-color: #9b9b9b;
  --button-bg: #c9f2f7;
  --left-width: 25vw;
  --right-width: calc(100vw - var(--left-width));
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 1ch;
}

/* Text */

h2 {
  color: var(--font-color);
}

h3 {
  color: var(--secondary-font-color);
  font-weight: 200px;
}

p {
  color: var(--secondary-font-color);
}

textarea {
  resize: none;
}
