:root {
  font-family: Roboto, "Times New Roman";
  --secondary-color: #ffffff;
  --background-color: #1a3777;
  --border-color: #525252;
  --button-bg: #c9f2f7;
  /* Text */
  --font-color: #4e4e4e;
  --secondary-font-color: #555555;
  --placeholder-color: #c0c0c0;
  /* Sizing */
  --left-width: 35%;
  --right-width: calc(100% - var(--left-width));
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
