@import url(./index.css);

.languages {
  width: 100%;
  height: 100%;
  gap: 8px;
  padding-bottom: 16px;
}

.language > ul > li {
  font-weight: 500;
  word-break: break-word;
  width: 80%;
}

.language > form > label {
  font-weight: 500;
  padding: 4px 0;
}

.language > form > select {
  border: 1px var(--border-color) solid;
  background-color: white;
  padding-left: 1rem;
  border-radius: 2ch;
  text-align: center;
}

/* Button customization */
