@import url(./index.css);

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-top: 2px var(--border-color) solid;
  border-bottom: 2px var(--border-color) solid;
  padding: 32px 0;
}

.title > * {
  text-align: center;
}

.title > form {
  align-items: center;
}

.title > form > * {
  text-align: center;
}

.title > form > input:focus {
  outline: none;
}

.fullname {
  height: 100px;
  color: var(--font-color);
  font-size: 4rem;
}

.fullname::placeholder,
.position::placeholder {
  color: var(--placeholder-color);
}

.fullname::placeholder {
  font-size: 4rem;
}

input.fullname,
input.position {
  outline: none;
  border: none;
  background: none;
}

.position {
  height: 50px;
  color: var(--secondary-font-color);
  font-size: 2rem;
}

.position::placeholder {
  font-size: 2rem;
}

/* Button customization */

.title:hover .title-edit {
  animation: fade 1s ease-in-out infinite alternate;
}

.title-submit:hover img {
  animation: rotate 0.5s ease-in-out 1 reverse;
}

.title button {
  position: absolute;
  background-color: var(--button-bg);
  align-self: flex-end;
  border: none;
  border-radius: 2ch;
  width: 50px;
  height: 50px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.title img {
  height: 100%;
}

.title-edit {
  opacity: 0;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
