@import url(./index.css);

.title.component-container {
  border-top: 2px var(--border-color) solid;
}

.title > * {
  text-align: center;
}

.title > form > * {
  align-items: center;
  text-align: center;
}

input.fullname,
input.position {
  outline: none;
  border: none;
  background: none;
}

input.fullname:focus,
input.position:focus {
  outline: none;
  border: none;
  background: none;
}

input.fullname::placeholder {
  font-size: 4rem;
}

input.position::placeholder {
  font-size: 2rem;
}

.fullname {
  font-size: 4rem;
}

.position {
  font-size: 2rem;
  height: 50px;
}
